<h1>Listing Games</h1>

<%= for game <- @games do %>
    <div>
      <span><%= link "Show", to: Routes.game_path(@conn, :show, game) %></span>
      <div>
        <span>Players: </span>
        <%= for player <- game.players do %>
          <span><%= player.name %></span>
        <% end %>
      </div>
    </div>
<% end %>
  </tbody>
</table>

